* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 5px 50px;
  background: linear-gradient(155deg, rgb(60, 28, 107), rgb(141, 212, 215));
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header img {
  width: 200px;
  height: auto;
}

header img:hover {
  cursor: pointer;
  opacity: 80%;
}

nav a {
  margin-right: 50px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #f7f7f7;
  font-weight: 600;
  transition: all .6s ease-in-out;
  padding: 15px 0;
}
nav a.active{
  border-bottom: 3px solid #f7f7f7;
  border-bottom-style: groove;
  transform: scale(1.08);
}
nav a.active,
nav a:hover {
  color: rgb(60, 28, 107);
}
nav a:active{
  color: #333;
}

section {
  padding: 100px 50px;
  width: 100%;
  min-height: 100vh;
}

section:nth-child(odd){
  background-color: #fffff0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section:nth-child(even){
  background-color: #f4f1f8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section:nth-child(1) {
  padding: 135px 50px 50px 50px;
  background-image: url('../images/bgSection1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; 
}

.converter {
  position: relative;
  text-align: center;
  max-width: 30%;
  margin: auto;
  padding: 20px;
  background-color: rgba(85, 112, 188, 0.9); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ddd6d6;
}


select, .input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #333;
  font-weight: bold;
}

.lbl{
  font-weight: 600;
  color: #ddd6d6;
}

.select-box:hover{
  cursor: pointer;
  color: #f7f7f7;
  background-color: rgba(28, 87, 170, 0.656);
  transition: all .3s ease-in-out;
}
.select-box:focus{
  background-color: rgba(28, 87, 170, 0.656);
  color: #f7f7f7;
}

.converter h2 {
  padding-bottom: 30px;
  cursor: default;
}

#result {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  border: none;
  border-radius: 15px;
  color: #fff;
  height: 40px;
  margin: 10px 2.5%;
  font-size: 1rem;
  font-weight: 600;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#clearButton{
  background: linear-gradient(90deg, #6616d0, #ac34e7);
  width: 35%;
}
#clearButton:hover {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.546);
  background: linear-gradient(145deg, #ed1bca, #831187);
}
#clearButton:active {
  box-shadow: none;
  transition-duration: 200ms;
  background:linear-gradient(75deg, rgb(145, 69, 183),rgb(88, 22, 122) ) ;
}

#convertButton{
  background: linear-gradient(90deg, #104492, #4e94fd);
  width: 40%;
}
#convertButton:hover {
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.481);
  background: linear-gradient(145deg, #025ce3, #84a6d8);
}
#convertButton:active {
  box-shadow: none;
  transition-duration: 200ms;
  background:linear-gradient(75deg, rgb(13, 91, 173),rgb(147, 172, 197) );
}


.container{
  color: #333;
}
.container h2{
  padding-bottom: 20px;
}
.container p, pre{
  padding-top: 10px;
  font-weight: 300;
  text-align: justify;
}
.content-konsep{
  display: inline-block;
  justify-content: center;
  width: 50%;
}

.content-skala{
  width: 50%;
  margin-top: 45px;
  margin-left: 20px;
}

.img-sec1{
  margin-top: 80px;
  float: right;
  width: 45%;
  height: auto;
  border: 5px solid #5483cb;
  border-radius: 5%;
}

.skala-container{
  display: flex;
  align-items: flex-start;
}
.img-sec2{
  margin-top: 40px;
  float: left;
  width: 45%;
  height: auto;
  border: 5px solid #8a308d78;
  border-radius: 8%;
}

.judul-rumus{
  padding-left: 30px ;
}
.rumus-container li h3{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.rumus-container ol li p{
  margin: 10px;
  margin-left: 40px;

}

.rumus-container ol li .last-p{
  margin-bottom: 50px;
}
.rumus-left{
  float: left;
}
.rumus-mid{
  margin-top: 160px;
}

.rumus-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.rumus-left, .rumus-mid, .rumus-right {
  width: 30%;
}

@media (min-width: 768px) {
  header {
    padding: 10px 30px;
  }

  .converter {
    max-width: 35%;
    margin-top: 70px;
    padding: 20px;
  }

  select, input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }

  .button-container {
    justify-content: space-between;
  }

  button {
    width: auto;
    border: none;
    height: 50px;
    margin: 10px 2.5%;
    font-size: 1rem;
    font-weight: 600;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  

  .skala-container{
    justify-content: space-around;
  }

  .img-sec1, .img-sec2 {
    margin-top: 80px;
    width: 45%;
    max-width: 45%;
  }

}
.container h2{
  padding-bottom: 40px;
  font-size: 30px;
}
.container p, pre{
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}
.content-konsep{
  display: inline-block;
  justify-content: center;
  width: 50%;
}

.content-skala{
  width: 50%;
  margin-top: 45px;
  margin-left: 20px;
}

  .content-konsep, .content-skala {
    width: 50%;
    max-width: 50%;
  }

  .rumus-container ol li p{
    margin: 10px;
    margin-left: 40px;
    font-size: 20px;
  }

  .rumus-container li h3{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 21px;
  }

  .rumus-container {
    flex-direction: row;
  }

  .rumus-left, .rumus-mid, .rumus-right {
    width: 30%;
    margin-bottom: 0;
  }


@media (max-width: 767px) {
  header {
    padding: 10px 20px;
  }

  header img{
    width: 150px;
  }

  nav {
    justify-content: space-between;
  }

  nav a {
    padding: 15px;
    font-size: 11px;
  }

  .button-container {
    justify-content: space-between;
  }

  button {
    width: auto;
  }

  section{
    width: 100%;
    min-height: fit-content;
    font-size: 10px;
  }

  .skala-container{
    justify-content: space-around;
  }

  .img-sec1, .img-sec2 {
    width: 45%;
    max-width: 45%;
  }

  .content-konsep, .content-skala {
    width: 50%;
    max-width: 50%;
  }

  .rumus-container {
    flex-direction: row;
  }

  .rumus-left, .rumus-mid, .rumus-right {
    width: 30%;
    margin-bottom: 0;
  }
}
